.FormPrompt-heading {
  max-width: 270px;
  margin: 10px 0 0;
  font-family: $font-family-baron;
  font-size: rem-calc(22);
  font-weight: 500;
  color: $blue;

  @include breakpoint(small) {
    max-width: calc(100% - 20px);
  }
}

.FormPrompt-buttonGroup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}

.FormPrompt-promptOverlay {
  position: absolute;
  z-index: 13;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-width: 100px;
  height: 100vh;
  min-height: 100px;
  opacity: .5;
  background-color: $white;
  transition: opacity 250ms ease-out 750ms;

  @include breakpoint(small) {
    width: 100%;
    height: 100%;
  }
}

.FormPrompt-buttonGroup > .Button {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  @include breakpoint(large) {
    flex-direction: column;
    width: max-content;
  }
}

.FormPrompt-body {
  margin-bottom: 16px;

  & > p {
    padding-right: 16px;
    font-size: rem-calc(17);
    line-height: unitless-calc(20, 14);
  }
}

.FormPrompt {
  position: absolute;
  z-index: 13;
  top: 250px;
  left: 50%;
  width: calc(100% - 40px);
  max-width: 500px;
  padding: 25px;
  transform: translate(-50%, -50%);
  line-height: unitless-calc(30, 25);
  border: 1px solid $blue-periwinkle;
  background: $white;
  box-shadow: 0 2px 1px -1px rgba($gainsboro, .15);

  @include breakpoint(medium) {
    width: 100%;
  }
}

.FormPrompt-buttonGroup > .Button:first-of-type {
  margin-right: 20px;
}

.FormPrompt-buttonGroup .Button-label {
  padding: 0;
}

.Button--selectDialogDecline {
  color: $blue;
  border: none;
  background-color: $white;
}

.Button--selectDialogConfirm {
  color: $white;
  border: $blue 1px solid;
  background-color: $blue;
}
